@-webkit-keyframes enpassfill {
    0%, 100% {
        -webkit-transform:scale(1, 1)
    }

    50% {
        -webkit-transform:scale(1.2, 1.2)
    }
}

@-moz-keyframes enpassfill {
    0%, 100% {
        transform:scale(1, 1)
    }

    50% {
        transform:scale(1.2, 1.2)
    }
}

@keyframes enpassfill {
    0%, 100% {
        transform:scale(1, 1)
    }

    50% {
        transform:scale(1.2, 1.2)
    }
}

.enpass-extension-animated-fill {
    animation: enpassfill .2s ease-in-out 0s 1;
    -webkit-animation:enpassfill .2s ease-in-out 0s 1
}

enpass-inline-button, enpass-inline-menu {
    all: initial !important;
    position: fixed !important;
    z-index:2147483647 !important
}

enpass-inline-menu {
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    pointer-events: none !important
}
